.btn {
  display: inline-block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: 0.2s all ease-out;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}


.btn:hover::after {
  opacity: 0.2 !important;
}

.btn:active {
  transform: scale(0.97);

}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: 0.2s all ease-out;
  opacity: 0;
}

.btn-primary::after {
  background-color:#061d9e;
}

.btn-primary-ondark::after {
  background-color:#aab7ff;
}

.btn-md {
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
}

.btn-lg {
  padding: 16px 40px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #4183FF;
  color: #f4f9ff;
  box-shadow: 0 2px 0 #1163FE;
  
}

.btn-primary-ondark {
  background-color: #4183FF;
  color: #f4f9ff;
}